.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  pointer-events: none;
  z-index: 100;
  &__content {
    opacity: 0;
  }
  &.active {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: all;

    transition: background 0.3s ease;
    .modal__content {
      transition: opacity 0.3s ease;
      opacity: 1;
    }
  }
}
