.product-list {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;

    margin: 0 -11px;
  }
}
.product-item {
  margin: 11px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  max-width: 310px;
  justify-content: space-between;

  &__title {
    font-weight: 500;
    margin-bottom: 8px;
  }

  &__info {
    display: flex;
    align-items: center;
  }
}
